@import "base/_fonts";
@import "utils/_mixin";
@import "utils/_sprite";
@import "utils/_variables";
@import "base/_base";
@import "base/_myreset";
@import "base/_common";


.cities-list {
  li {
    display: inline-block;
    padding: 5px;
    background: #97a373;
  }
}
.search-block {
  position: relative;
  margin-bottom: 50px;
}

.autofill {
  background: #f9e5ff;
  top: 100%;
  position: absolute;
}

