extends ../_main
block title
    title main content
block page
  .container
    .first First
    .second Second

  .text-container.
    Просто текст <div>Внутренний div<p>нутрь нутрь</p></div> еще текст для удаления <span>спан</span>

